.glass {
    transform: translate(0%,-10%);
}

.footer {
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.glassesForBg {
    background-image: url("./BaiTapChonKinh/background.jpg");
    background-size: cover;
}